html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    color: white;
    padding: 0px;
    font-size: 2vw;

}

a {
    color: white;
}

body {
    background-image: url(img/FondoPagina.png);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inicio,
.competencias,
.experiencia,
.proyectos,
.contacto {
    padding-top: 4vw;
}

h3 {
    font-size: 3vw;
    font-weight: 500;
    color: #f2e0f8;
    text-shadow: 0 0 8px #af18e6;


}

main {
    background: radial-gradient(circle, #240831 0%, black 100%);
    height: fit-content;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 15vw;
}

#titulo {
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;

    :nth-child(2) {
        font-size: 2vw;
    }

    p {
        margin: 0;
    }
}

#logo img {
    inline-size: 22vw;
    aspect-ratio: 1.5;
    object-fit: cover;
}

nav {
    height: 4vw;
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    border-bottom: solid 0.1vw white;
    border-top: solid 0.1vw white;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #09020C;

    a {
        margin: auto;
        text-decoration: none;
        text-shadow: 1px 1px 2px white;

    }

    a:hover {
        color: #BD60DF;

    }
}

.bar-container {
    width: 30vw;
    height: 3vw;
    background-color: white;
    margin-left: 2vw;
    border-radius: 0.5vw;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #F30BF2;
    border-radius: 0.5vw;
    transition: width 1.2s ease;
    position: relative;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* .stats{
        margin-left: 7vh;
        margin-bottom: 5vh;
    } */
}

.proyectos {
    padding: 2vw;
}

.contacto {
    padding: 2vw;
    margin-bottom: 50vh;
}

@media (max-width: 700px) {

    main {
        width: 100%;
    }


    header {
        flex-direction: column;
        height: auto;
        padding: 4vw 0;
    }

    #logo img {
        inline-size: 40vw;
    }

    #titulo {
        font-size: 6vw;
    }

    #titulo :nth-child(2) {
        font-size: 4vw;
    }


    nav {
        height: auto;
        flex-wrap: wrap;
        padding: 2vw 0;
        display: flex;
        justify-content: center;
    }

    nav a {
        font-size: 4vw;
        margin: 2vw;
    }


    .inicio,
    .competencias,
    .proyectos,
    .contacto {
        padding: 6vw;
    }


    .stats-container {
        flex-direction: column;
        align-items: center;

    }

    .stats {
        margin-left: 0;
        width: 80%;
    }

    .bar-container {
        width: 100%;
        height: 5vw;
    }


    .proyectos .container {
        padding: 0;
    }


    .contacto .card {
        width: 90%;
    }


    * {
        font-size: 4vw;
    }

    h3 {
        font-size: 6vw;
    }

}